node_modules
**/node_modules
**/dist
**/build

api

**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

**/dev.db*
**/db_analysis_output
venv

.git
.github
.vscode
.idea
.claude_sessions

*.log
.cache
.npm
.eslintcache
.tsbuildinfo
**/.tmp
